*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

/* *************** NAVBAR ***************** */

.navbar{
    background-color: #1F2937;
}

.left, .right{
    display: flex;
}

.right{
    margin-right: 150px;
    list-style: none;
}

.left{
    margin-left: 150px;
}

.logo{
    color: white;
    font-size: 30px;
    font-weight: 900;
    list-style: none;
}

ul{
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

/* *************** FIRST SECTION***************** */

.sectionOneContainer{
    display: flex;
    gap: 100px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.sectionOneLeft{
    margin-left: 150px;
    flex: 1;
    /* text-align: center; */
}

.sectionOneLeft h1{
    color: white;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.sectionOneLeft p{
    color: #E5E7EB;
    font-size: 18px;
}

.sectionOneLeft button{
    margin-top: 20px;
    font-size: 20px;
    padding: 8px 15px;
    background-color: #3882F6;
    border: .5px solid white;
    color: white;
    transition: all ease-in .3s;
    cursor: pointer;
}

.sectionOneLeft button:hover{
    background-color: #1F2937;
    color: #3882F6;
}

.sectionOneRight{
    flex: 1;
}

/* *************** SECOND SECTION***************** */

.sectionTwo{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTwoTitle{
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sectionTwoContent{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    flex-grow: 1;
}   

.sectionTwoContent p{
    margin-bottom: 80px;
    color: black;
}
.boxOneContainer{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    overflow-wrap: break-word;
    margin-right: 20px;
}

.boxOneContainer p{
    margin-top: 10px;
    text-align: center;
}

.boxTwoContainer{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    overflow-wrap: break-word;
    margin-right: 20px;
}

.boxTwoContainer p{
    margin-top: 10px;
    text-align: center;
}

.boxThreeContainer{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    overflow-wrap: break-word;
    margin-right: 20px;
}

.boxThreeContainer p{
    margin-top: 10px;
    text-align: center;
}

.boxFourContainer{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    overflow-wrap: break-word;
    
}

.boxFourContainer p{
    margin-top: 10px;
    text-align: center;
}
.box{
    border: 4px solid rgb(19, 108, 185);
    height: 150px;
    width: 150px;
    border-radius: 10px;
    
}

/* *************** THIRD  SECTION***************** */

.sectionThree{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.quoteBig{
    /* width: 50%; */
    
    padding: 0px 300px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.authorText{
    margin-top: 15px;
    padding-left: 400px;
    
    
}

/* *************** FOURTH  SECTION***************** */

.sectionFour{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.actionBox{
    background-color: #3882F6;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.textBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textBox h2, p{
    color: white;
}

.signUp button{
    margin-top: 20px;
    font-size: 20px;
    padding: 8px 15px;
    background-color: #3882F6;
    border: .5px solid white;
    color: white;
    transition: all ease-in .3s;
    cursor: pointer;
}

.signUp button:hover{
    background-color: white;
    color: #3882F6;
}

.footer{
    background-color: #1F2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}